@layout DogAdoptionWebsite.Components.Layout.MainLayout
@page "/donation"

<h3>Donate to Support Our Cause</h3>
<p>Your generous donations help provide food, shelter, 
    and medical care for dogs in need.</p>
<p><a href="https://www.paypal.com/donate" target="_blank">Donate Now</a></p>

